:root{
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, .App, #root{
    width: 100%;
    /* height: 100%; */
    overflow: auto;
}

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 
==========
Nav
==========
*/

nav{
    z-index: 1;
    display: flex;
    place-items: center;
    place-content: center;
    width: 80%;
    padding: 28px 0;
}

.logo{
    width: 150px;
    height: 25px;
}

.links{
    display: flex;
    margin-left: 45px;
    position: relative;
}


.links a{
    margin-right: 20px;
    text-decoration: none;
    color: var(--dark-grayish-blue);
    position: relative;
}

.links a:hover{
    color: var(--very-dark-blue);
}

.links a:hover::after{
    content: '';
    background-color: var(--orange);
    position: absolute;
    top: 53px;
    left: 5%;
    height: 4px;
    width: 90%;
    align-self: center;
}

nav::after{
    content: '';
    position: absolute;
    top: 96px;
    background-color: var(--grayish-blue);
    width: 80%;
    height: 1px;
    z-index: 1;
}

.user{
    margin-left: auto;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1000;
}


.cart{
    margin-right: 30px;
}

.cart:hover{
    cursor: pointer;
}

.avatar{
    box-sizing: border-box;
    width: 40px;
}

.avatar:hover{
    border: 2px solid var(--orange);
    border-radius: 100%;
    cursor: pointer;
}

.cart-modal{
    background-color: white;
    z-index: 2;
    display: none;
    position: absolute;
    width: 23%;
    right: 60px;
    height: 200px;
    top: 80px;
    padding: 13px;
    border-radius: 5px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.15), 0 15px 15px rgba(0, 0, 0, 0.1);
}  

.cart-name::after{
    content: '';
    position: absolute;
    background-color: var(--grayish-blue);
    top: 50px;
    left: 0;
    width: 100%;
    height: 1px;
}

.in-cart{
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart-thumnail{
    width: 40px;
    border-radius: 4px;
}

.empty-cart{
    margin: 35px auto 0 auto;
}

.cart-detail{
    display: flex;
    flex-direction : column;
    margin: 0 12px 0 12px;
}

.product-name, .cart-detail div span{
    color: var(--dark-grayish-blue);
}

.cart-detail div{
    margin-top: 5px;
}


.cart-detail div span span{
    color: var(--very-dark-blue);
}

.del{
    cursor: pointer;
}

.in-cart a{
    text-decoration: none;
    color: var(--very-dark-blue);
    width: 100%;
    padding: 12px;
    border-radius: 7px;
    text-align: center;
    background-color: var(--orange);
    position: absolute;
    bottom: -65px;
}

/* 
==========
Section
==========
*/

section{
    width: 73%; 
}

.image{
    width: 200px;
}

.thumnail{
    width : 100px;
}