:root{
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, .App, #root{
    width: 100%;
    height: 100%;
    overflow: auto;
}

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 
==========
Nav
==========
*/

nav{
    z-index: 1;
    display: flex;
    place-items: center;
    place-content: center;
    width: 80%;
    padding: 28px 0;
}

.logo{
    width: 150px;
    height: 25px;
}

.links{
    display: flex;
    margin-left: 45px;
    position: relative;
}


.links a{
    margin-right: 20px;
    text-decoration: none;
    color: var(--dark-grayish-blue);
    position: relative;
}

.links a:hover{
    color: var(--very-dark-blue);
}

.links a:hover::after{
    content: '';
    background-color: var(--orange);
    position: absolute;
    top: 53px;
    left: 5%;
    height: 4px;
    width: 90%;
    align-self: center;
    border-radius: 3px;
}

nav::after{
    content: '';
    position: absolute;
    margin-top: 96px;
    background-color: var(--grayish-blue);
    width: 80%;
    height: 1px;
    z-index: 1;
}

.user{
    margin-left: auto;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1000;
}


.cart{
    margin-right: 30px;
}

.cart:hover{
    cursor: pointer;
}

.avatar{
    box-sizing: border-box;
    width: 40px;
}

.avatar:hover{
    border: 2px solid var(--orange);
    border-radius: 100%;
    cursor: pointer;
}

.cart-modal{
    background-color: white;
    z-index: 2;
    display: none;
    position: absolute;
    width: max(23%, 250px);
    right: 60px;
    height: 200px;
    top: 80px;
    padding: 13px;
    border-radius: 5px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.15), 0 15px 15px rgba(0, 0, 0, 0.1);
}  

.cart-name::after{
    content: '';
    position: absolute;
    background-color: var(--grayish-blue);
    top: 50px;
    left: 0;
    width: 100%;
    height: 1px;
}

.in-cart{
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart-thumnail{
    width: 40px;
    border-radius: 4px;
}

.empty-cart{
    margin: 35px auto 0 auto;
}

.cart-detail{
    display: flex;
    flex-direction : column;
    margin: 0 12px 0 12px;
}

.product-name, .cart-detail div span{
    color: var(--dark-grayish-blue);
}

.cart-detail div{
    margin-top: 5px;
}


.cart-detail div span span{
    color: var(--very-dark-blue);
}

.del{
    cursor: pointer;
}

.in-cart a{
    text-decoration: none;
    color: var(--very-dark-blue);
    width: 100%;
    padding: 12px;
    border-radius: 7px;
    text-align: center;
    background-color: var(--orange);
    position: absolute;
    bottom: -60px;
}

/* 
==========
Section
==========
*/

section{
    width: 73%; 
    /* margin-top: 65px; */
    display: flex;
    height: 100%;
    flex-direction: row-reverse;
    place-items: center;
    justify-content: space-between;
}

.detail{
    width: 47%;
    height: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.company{
    color: var(--dark-grayish-blue);
    margin-bottom: 10px;
}

.detail h3{
    color: var(--very-dark-blue);
    margin-bottom: 20px;
    font-size: 40px;
}

.detail p{
    color: var(--dark-grayish-blue);
    font-size: 17px;
    margin-bottom: 15px;
}

.prices{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.prices div{
    margin-bottom: 10px;
}

.offer{
    margin-left: 8px;
    padding: 3px 7px;
    color: white;
    background-color: var(--very-dark-blue);
    border-radius: 3px;
}

.offered-price{
    font-size: 20px;
    color: var(--very-dark-blue);
}

.price{
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
}

.add-cart{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.add-cart div{
    background-color: var(--light-grayish-blue);
    display: flex;
    padding: 17px;
    justify-content: space-between;
    align-items: center;
    width: 33%;
    border-radius: 8px;
}

.add-cart div img:hover{
    cursor: pointer;
}

.add-cart button{
    width: 63%;
    background-color: var(--orange);
    border: none;
    border-radius: 8px;
    color: var(--very-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.add-cart button img{
    margin-right: 10px;
}

.add-cart button:hover{
    background-color: hsla(26, 100%, 55%, 0.829);
}

.add-cart button:active{
    background-color: var(--orange);
}

.images{
    width: max(47%, 400px);
    height: 75%;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
}

.image{
    width: 75%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.image:hover{
    cursor: pointer;
    border: 2px solid var(--orange);
}

.images div{
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
}

.thumbnail, .active-thumbnail{
    margin-right: 20px;
    width : 100%;
    justify-self: end;
    border-radius: 10px;
}

.active-thumbnail{
    border: 2px solid var(--orange);
    opacity: 0.5;
}

.active-thumbnail:hover, .thumbnail:hover{
    cursor: pointer;
    opacity: 0.5;
}

#thum4{
    margin: 0;
}

/* 
==========
Modal
==========
*/

.modal{
    z-index: 100;
    background-color: rgba(0, 0, 0, 75%);
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.close{
    margin-left: 36%;
    width: 20px;
}


.previous, .next{
    position: absolute;
    padding: 10px 13px;
    border-radius: 100%;
    background-color: white;
    margin-bottom: 5%;
}

.previous:hover, .next:hover{
    background-color: rgba(255, 255, 255, 0.815);
    cursor: pointer;
}

.previous{
    left: 29%;
}

.next{
    right: 29%;
}

.img-modal{
    width: 32%;
    border-radius: 10px;
    margin: 10px 0 20px 0;
}

.modal div{
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.thumbnail-modal, .active-thumbnail-modal{
    width: 20%;
    border-radius: 10px;
}

.thumbnail-modal:hover, .active-thumbnail-modal:hover, .close:hover{
    cursor: pointer;
    opacity: 0.7;
}

.active-thumbnail-modal{
    border: 3px solid var(--orange);
    opacity: 0.7;
}

/* 
==========
ViewPorts
==========
*/

@media screen and (max-width : 900px){
    nav, section{
        width: 90%;
    }
    section{
        place-content: flex-start;
        place-items: flex-start;
        margin-top: 50px;
    }
    nav::after{
        width: 90%;
    }
    .detail h3{
        font-size: 4.3vw;
    }
    .company{
        font-size: 1.7vw;
    }
    .detail p{
        font-size: 2vw;
    }
    .offer {
        margin-left: 2%;
        padding: 0.6% 2%;
        font-size: 1.6vw;
    }
    .offered-price{
        font-size: 2.4vw;
    }
    .price{
        font-size: 1.6vw;
    }
    .add-cart div{
        padding: 5%;
    }
    .add-cart div img{
        width: 17%;
    }
    .add-cart div span{
        font-size: 5%;
    }
    .add-cart button span{
        font-size: 1.5vw;
    }
    .add-cart button img{
        width: 12%;
    }
    .images{
        min-width: 50%;
        height: 70%;
    }
    .detail{
        height: 80%;
    }
}

@media screen and (max-width : 700px) {
    
}